/* Keyframes */

@keyframes slideInFromLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
  
@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes fillBar {
    0% {
        background-color: white;
    } 
    50% {
        background-color: #A890FE;
    }
    100% {
        background-color: white;
    }
}
/* End Keyframes */



body {
    /*background-image: linear-gradient(to right, #fca5f1, #b5ffff);*/
    /*background-image: linear-gradient(to right, #00B7FF, #FFFFC7)*/
    background-image: linear-gradient(to right, #EA8D8D, #A890FE);
    margin: 0;
    padding: 0;
}

#england {opacity: 1;}
#england:hover {
    transform: scale(1.5);
    cursor: pointer;
}
#spain {opacity: 0.3;}
#spain:hover {
    transform: scale(1.5);
    cursor: pointer;
}

a {
    text-decoration:none;
    color: white
}

p, a, h2 {
    font-family:  "Roboto", 'Times New Roman', Times, serif;
    color: white;
}

header {
    background: url("../assets/austin-distel-mpN7xjKQ_Ns-unspla.jpg");
    background-size: cover;
    height: 270px;
    color: white;
    text-shadow: 2px 2px gray;
}

header .flex-container {
    justify-content: center;
}

header h1 {
    margin-top: 40px;
    font-family: "Lato", serif;
}

header h1, header p{
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.location{
    justify-content: center;
    color: white;
    flex-direction: row;
}

.location span {
    margin-top: 10px;
    margin-right: 8px;
}

.language {
    justify-content: center;
    flex-direction: row;
}

.language img {
    width: 40px;
    margin: 10px;
}

.lang-es {
    display: none;
}

.main-photo {
    justify-content: center;
    border-top: 3px solid;
    border-color: white;
}

.main-photo img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 3px solid;
    border-color: white;
    margin-top: -90px;
}

.flex-container {
    display: flex;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid white;
}

.content p , .content h2, .content a{
    margin: 10px;
}

p, h2, a, span {
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.statistics {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    flex-direction: column;
}

.statistics p {
    margin: 3px;
}

.bar {
    border: 1px solid white;
    width: 100%;
    height: 10px;
    animation: 2s ease-out 0s 1 progressBar;
}

.english {width: 80%;}
.javascript {width: 70%;}
.java {width: 80%;}
.python {width: 55%;}
.sql {width: 70%;}
.bash {width: 55%;}
.php {width: 40%;}
.c {width: 40%;}

.skills {
    height: 100%;
    background-color: white;
    animation: fillBar 5s linear 0s infinite;
}

table {
    width: 80%;
}

.contactme {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    flex-direction: column;
}

.social {
    justify-content: left;
    margin-top: 20px;
}

.social img {
    width: 40px;
    margin: 10px;
}

#email {
    margin-top: -2px;
    margin-right: 8px;
    color: white;
}

footer {
    margin: 30px;
    text-align: center;
    color: white;
}

@media only screen and (min-width: 768px) {
    table {
        width: 100%;
    }
    
}