.contactme {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    flex-direction: column;
}

.social {
    justify-content: left;
    margin-top: 20px;
}

.social img {
    width: 40px;
    margin: 10px;
}

#email {
    margin-top: -2px;
    margin-right: 8px;
    color: white;
}

footer {
    margin: 30px;
    text-align: center;
    color: white;
}