.projects {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    flex-direction: column;
    background-color: rgb(69 37 231 / 22%);
    border: 3px solid white;
}

.projects p {
    margin: 3px;
}