/* Keyframes */
@keyframes slideInFromLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
  
@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes fillBar {
    0% {
        background-color: white;
    } 
    50% {
        background-color: #A890FE;
    }
    100% {
        background-color: white;
    }
}
/* End Keyframes */

body {
    background-image: linear-gradient(to right, #EA8D8D, #A890FE);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration:none !important;
    color: white !important;
}

p, a, h2 {
    font-family:  "Roboto", 'Times New Roman', Times, serif !important; 
    color: white !important;
}

.flex-container {
    display: flex;
}

p, h2, a, span {
    animation: 2s ease-out 0s 1 slideInFromLeft;
}